includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - config
        - resources
        - routes
    level: 8
    ignoreErrors:
    excludePaths:
        analyse:
             - app/Components/Documentator/*
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false